body {
    background-image: linear-gradient(to right, #3f1e63 0%, #15171b 100%);
    p{color: white;}

}


h1,
h2,
h3,
a {
        color: aliceblue;
}

/*IMAGENES DEL INDEX*/

.titulo-h2{font-size: 27px ;
            }


