/*-----------------------SE-PARTE--------------------*/
.img-uwu{display: flex;
        height: 600px;
            width:400px;
        img{width: 100%;
            height: 500px;
            object-fit:cover}}



