/*-----------------------SE-PARTE--------------------*/

//Imagen de la seccion 

.img-uwu{display: flex;
            width:400px;
            margin-top: 20px;
        img{width: 100%;
            height: 700px;
            object-fit:cover}}

.main-separte h2 {text-align: center;}



