/*------------------Aside-------------------------*/
aside{p{font-size: 1em;}
        ul {margin: 0px;
            padding: 0px;
            list-style: none;
            text-decoration: none;
                li{margin: 0px ;
                    padding-right: 0px;
                    font-size: 1em;
                        a{text-decoration: none;}
}
}
}
