//Fomulario de Se Parte!!!!
.form-1{align-items: center;
        text-align: center;
        padding-left: 12%;
        color: white;
        font-size: 22px;
        input, #inputGroupPrepend {margin:12px;
        }
        }
.form-derechos{margin:20px;}