/*----------------------Carrusel-Index-----------------------------*/


.titulo-carru {
    padding: 10px;
    text-align: center;
    p{color:rgb(231, 34, 34)}
        img{width: 500px;
            height: 500px;
    }
}
